.lang_alert {
    --vz-alert-color: #2090cf !important;
    --vz-alert-bg: #ffffff !important;
    --vz-alert-border-color: #2090cf !important;
    border-left-color: #2090cf !important;
    font-size: 14px;
}

.seo-preview * {
    word-break: break-all;
}

.seo-preview .page-title-seo {
    color: #1a0dab;
    display: block;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 2px;
    min-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seo-preview .page-url-seo p {
    word-wrap: break-word;
    color: #006621;
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 2px;
}

.sef span {
    padding-right: 0px !important;
}

.sef input {
    padding-left: 0px !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid:focus-within {
    border-radius: var(--vz-border-radius-lg);
    box-shadow: 0 0 0 0.25rem rgb(237 94 94 / 32%)
}

.form-control.is-valid, .was-validated .form-control:valid:focus-within {
    border-radius: var(--vz-border-radius-lg);
    box-shadow: 0 0 0 0.25rem rgb(19 197 107 / 29%);
    border-color: var(--vz-form-valid-border-color);
}

.input-group-flat:focus-within {
    border-radius: var(--vz-border-radius-lg);
    box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, .25);
    border-color: var(--vz-info);
}

.hidden {
    display: none !important;
}

.show-seo {
    color: var(--vz-link-color) !important;
}

.saved {
    text-align: center;
}

.saved button {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 0.875rem;
}

.saved a {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 0.875rem;
}

.saved .btn-primary {
    background: #2090cf;
    border-color: #2090cf;
}

.saved .btn-success {
    background: #7eb842;
    border-color: #7eb842;
}

.saved .btn-light {
    background: #ffffff;
    border: #dce1e7 1px solid;
}

.saved .btn-light:hover {
    border-color: #aab2bf;
}

.edit_icon {
    font-size: 20px;
    background: #6691e7;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.trash_icon {
    border: none;
    font-size: 20px;
    background: #d63939;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.swal2-popup .swal2-title {
    color: black !important;
}

.swal2-html-container {
    color: #00000085 !important;
}

.swal2-icon {
    border: none !important;
}

.flags {
    aspect-ratio: 1.33333;
    background: no-repeat 50%/cover;
    border-radius: var(--bb-border-radius);
    box-shadow: var(--bb-box-shadow-border);
    display: inline-block;
    height: 2.5rem;
    position: relative;
    vertical-align: bottom;
    margin-inline-end: 0.5rem;
    border-radius: 20%;
}

.lang_list a {
    font-size: 20px;
    margin-right: 10px;
}

.lang_lists {
    padding: 0px;
    border: none;
    margin-top: 1px;
    width: 150px;
}
.item-list,.info-box{background: #fff;padding: 10px;}
.item-list-body{max-height: 300px;overflow-y: scroll;}
.panel-body p{margin-bottom: 5px;}
.info-box{margin-bottom: 15px;}
.item-list-footer{padding-top: 10px;}
.panel-heading a{display: block;}
.form-inline{display: inline;}
.form-inline select{padding: 4px 10px;}
.btn-menu-select{padding: 4px 10px}
.disabled{pointer-events: none; opacity: 0.7;}
.menu-item-bar{background: #eee;padding: 5px 10px;border:1px solid #d7d7d7;margin-bottom: 5px; width: 75%; cursor: move;display: block;}
#serialize_output{display: block;}
.menulocation label{font-weight: normal;display: block;}
body.dragging, body.dragging * {cursor: move !important;}
.dragged {position: absolute;z-index: 1;}
ol.example li.placeholder {position: relative;}
ol.example li.placeholder:before {position: absolute;}
#menuitem{list-style: none;}
#menuitem ul{list-style: none;}
.input-box{width:75%;background:#fff;padding: 10px;box-sizing: border-box;margin-bottom: 5px;}
.input-box .form-control{width: 50%}


.btn-add-to-menu{
    position: relative; border: solid 1px #dce1e7;
}

.btn-action{
    align-items: center;
    background: transparent;
    border: 0;
    border-radius: var(--bb-border-radius);
    color: var(--bb-secondary);
    display: inline-flex;
    height: 2rem;
    justify-content: center;
    padding: 0;
    width: 2rem;
}

span.icon-tabler-wrapper:has(svg) {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    line-height: 0;
    vertical-align: middle;
}
.icon-sm {
    --bb-icon-size: 1rem;
    stroke-width: 1;
}

.dd-list {
    /*position: relative;*/
    padding-left: 0px !important;
}

.dd-empty,.dd-item,.dd-placeholder {
    margin: 10px 0;
    list-style: none;
}

.dd-placeholder {
    background: rgba(66,153,225,.1);
    border: 1px dashed #dce1e7;
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    line-height: 20px;
    min-height: 30px;
    padding: 0;
    position: relative
}

.dd3-content {
    background: #fff;
    border: 0;
    color: #182433;
    height: 40px;
    padding: 10px;
    width: 364px;
    position: relative;
    border: 1px solid #dce1e7;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

}

.dd3-handle {
    background: transparent;
    border-radius: 4px;
    cursor: move;
    height: 40px;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 0;
    white-space: nowrap;
    width: 363px
}

.dd3-handle:hover {
    background-color: transparent
}

.dd-item>.item-details {
    border: 1px solid #dce1e7;
    border-top: 0;
    display: none;
    margin-bottom: 5px;
    max-width: 363px;
    padding: 10px 15px
}

.dd3-handle:before {
    display: none
}

.dd3-content .show-item-details {

    background-color: #f6f8fb;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #dce1e7;
    border-top-right-radius: 4px;
    color: #6c7a91;
    left: 319px;
    line-height: 38px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 43px
}

.dd3-content .show-item-details.active .icon {
    transform: rotate(180deg)
}

.dd3-content .show-item-details.active .icon {
    transform: rotate(180deg);
}
.dd-item.active>.item-details {
    background: var(--bb-bg-surface);
    display: block
}

.dd-item.active>.item-details>label {
    display: block;
    float: left;
    width: 100%
}

.dd-item.active>.item-details>div.text-end {
    clear: both;
    float: none
}

.dd-item.active>.item-details>div.text-end .btn {
    margin-left: 7px
}

.dd-item.active>.dd3-handle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.dd-item>.item-details .form-group {
    align-items: center;
    display: flex
}

.dd-item>.item-details .form-group>.control-label {
    width: 90px
}

.dd-item>.item-details .form-group>.form-control:not(select),.dd-item>.item-details .form-group>.ui-select-wrapper {
    width: 228px
}

.dd-item>.item-details .form-group>.ui-select-wrapper {
    margin-bottom: 0
}

.core-menu-structure .card .card-header a {
    color: var(--bb-card-title-color)
}

.core-menu-structure .card .card-header a .btn-action {
    height: 1.5rem
}

.core-menu-structure .card .card-header a[aria-expanded=true] .btn-action span.icon-sm {
    rotate: 180deg
}

.box-links-for-menu .list-item {
    padding-left: 0
}

.box-links-for-menu .list-item .list-item {
    border: 0;
    max-height: none;
    overflow: visible;
    padding: 0 0 0 20px
}

.box-links-for-menu .list-item li {
    list-style: none;
    margin-bottom: 5px;
    position: relative
}

.box-links-for-menu .list-item li label.form-check {
    margin-bottom: .75rem
}

.box-links-for-menu .list-item li ul {
    padding-left: 20px
}

.box-links-for-menu .list-item li .checker {
    margin-top: -25px
}

.box-links-for-menu .list-item li a {
    display: inline-block;
    overflow: hidden;
    padding-left: 20px;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.form-save-menu #menu_name {
    margin-bottom: 5px
}

.dd3-content>span.text.float-start {
    max-width: 200px
}

.dd3-content>span.text.float-end,.dd3-content>span.text.float-start {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap
}

.dd3-content>span.text.float-end {
    margin-right: 25px;
    max-width: 85px
}
.modal-full .modal-dialog.modal-xl {
    max-width: 90%;
}
.media_button{
    width: 250px !important;
}
.slider_image{
    max-width: 50px;
    max-height: 50px;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #2090cf !important;
}

.preview_frame{
    width: 100%;
    height: 600px;
}

.viewwebsite {
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.viewwebsite svg{
    margin-right: 5px;
}

.icon-select {
    font-family: 'FontAwesome', sans-serif;
}
.icon-select option {
    display: flex;
    align-items: center;
    padding: 5px;
}
.icon-select option i {
    margin-right: 10px;
}

#categoryContainer {
    position: relative;
    cursor: pointer;
}

.options-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
}

.option {
    padding: 0px 5px;
}

.option:hover {
    background-color: #f0f0f0;
}

.selected-option {
    padding: 5px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.selected {
    background-color: #e0e0e0;
}
